body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    
}

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(221, 38, 53);
    padding: 15px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}